<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=yes">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/notify.js"></script>
<script type="text/javascript" src="js/notify.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script src="js/postrequest.js"></script>
<script src="js/getUserInfo.js"></script>
<script src="js/gsc-post-request.js"></script>
<title>ACCESS DENIED</title>
<link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="css/general.css" rel="stylesheet" type="text/css">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
</head>

<body>
	<div class="um--main_container">
		<div class="um--logo_container">
			<img src="images/Logo_Footer.png" class="um-logo">
			<div class="um--verticalDivider"></div>
			<div class="um--main_heading">USER PROFILE MANAGEMENT</div>
		</div>
		<!-- Search User -->
		<div class="um--container1 um--gapBottom">
			<fieldset>
				<legend>ACCESS DENIED</legend>
				<div align="left">
					<p style="color: red;">You are not authorized to access this
						application. For assistance, please contact your system
						administrator.</p>
				</div>
			</fieldset>
		</div>
		<!-- Footer -->
		<div class="um--footer">
			<p>
				© 3M <span class="js-copyYear"></span>. All Rights Reserved.
			</p>
		</div>
	</div>
	<script type="text/javascript">
	</script>
</body>

</html>